@can('view-school-access')
@can('manage-student')
<x-navigation.nav-link linkLabel='Inscriptions' icon='bi bi-person-fill-add' href="{{ route('responsible.main') }}"
    :active="request()->routeIs(['responsible.main'])" />
<x-navigation.nav-link linkLabel='Liste des élèves' icon='bi bi-people-fill' href="{{ route('student.list') }}"
    :active="request()->routeIs(['student.list'])" />
@endcan
@can('manage-payment')
<x-navigation.nav-link linkLabel='Liste des élèves' icon='bi bi-people-fill' href="{{ route('student.list') }}"
    :active="request()->routeIs(['student.list'])" />
<x-navigation.nav-link linkLabel='Nouveau paiement' icon='bi bi-arrow-left-right' href="{{ route('payment.new') }}"
    :active="request()->routeIs(['payment.new'])" />
<x-navigation.nav-link linkLabel='Régularisation' icon='bi bi-wallet2' href="{{ route('payment.regularization') }}"
    :active="request()->routeIs(['payment.regularization'])" />
<x-navigation.nav-link linkLabel='Liste des payments' icon='bi bi-people-fill' href="{{ route('payment.rappport') }}"
    :active="request()->routeIs(['payment.rappport'])" />

<x-navigation.dropdown-link wire:ignore.self label='Finace' icon='bi bi-box-seam-fill' class="text-white ">
    <x-navigation.nav-link linkLabel='Dépot banque' icon='bi bi-bank2' href="{{ route('finance.bank') }}"
        :active="request()->routeIs(['finance.bank'])" />
    <x-navigation.nav-link linkLabel='Epargne' icon='bi bi-wallet-fill' href="{{ route('finance.saving.money') }}"
        :active="request()->routeIs(['finance.saving.money'])" />
    <x-navigation.nav-link linkLabel='Salaire' icon='bi bi-card-heading' href="{{ route('finance.salary') }}"
        :active="request()->routeIs(['finance.salary'])" />
    <x-navigation.nav-link linkLabel='Gestion emprunts' icon='bi bi-wallet'
        href="{{ route('finance.money.borrowing') }}" :active="request()->routeIs(['finance.money.borrowing'])" />
    <x-navigation.nav-link linkLabel='Gestion taux' icon='bi bi-cash-coin' href="{{ route('finance.rate') }}"
        :active="request()->routeIs(['finance.rate'])" />
</x-navigation.dropdown-link>
<x-navigation.dropdown-link wire:ignore.self label='Dépenses' icon='bi bi-journal-text' class="text-white ">
    <x-navigation.nav-link linkLabel='Depenses sur le frais' icon='bi bi-folder' href="{{ route('expense.fee') }}"
        :active="request()->routeIs(['expense.fee'])" />
    <x-navigation.nav-link linkLabel='Autres dépenses' icon='bi bi-folder-symlink' href="{{ route('expense.other') }}"
        :active="request()->routeIs(['expense.other'])" />
    <x-navigation.nav-link linkLabel='Categori dépense' icon='bi bi-journals' href="{{ route('expense.category') }}"
        :active="request()->routeIs(['expense.category'])" />
    <x-navigation.nav-link linkLabel='Source autres dép.' icon='bi bi-journal-bookmark-fill'
        href="{{ route('expense.other.source') }}" :active="request()->routeIs(['expense.other.source'])" />
</x-navigation.dropdown-link>

<x-navigation.dropdown-link wire:ignore.self label='Gestion des frais' icon='bi bi-wallet2' class="text-white ">
    <x-navigation.nav-link linkLabel='Frais inscription' icon='bi bi-file-earmark-plus-fill'
        href="{{ route('fee.registration') }}" :active="request()->routeIs(['fee.registration'])" />
    <x-navigation.nav-link linkLabel='Frais scolaire' icon='bi bi-file-earmark-plus-fill'
        href="{{ route('fee.scolar') }}" :active="request()->routeIs(['fee.scolar'])" />
    <x-navigation.nav-link linkLabel='Categorie Frais insc.' icon='bi bi-tags-fill'
        href="{{ route('category.fee.registration') }}" :active="request()->routeIs(['category.fee.registration'])" />
    <x-navigation.nav-link linkLabel='Categorie Frais scolaire.' icon='bi bi-wallet2'
        href="{{ route('category.fee.scolar') }}" :active="request()->routeIs(['category.fee.scolar'])" />
</x-navigation.dropdown-link>
<x-navigation.dropdown-link wire:ignore.self label='Navigation' icon='"i bi-link-45deg' class="text-white ">
    <x-navigation.nav-link linkLabel='Simple menu' icon='bi bi-link' href="{{ route('navigation.single') }}"
        :active="request()->routeIs(['navigation.single'])" />
    <x-navigation.nav-link linkLabel='Multi menu' icon='bi bi-link' href="{{ route('navigation.multi') }}"
        :active="request()->routeIs(['navigation.multi'])" />
    <x-navigation.nav-link linkLabel='Sous-menu' icon='bi bi-link' href="{{ route('navigation.sub') }}"
        :active="request()->routeIs(['navigation.sub'])" />
</x-navigation.dropdown-link>
@endcan
@endcan
@can('manage-school')
<x-navigation.nav-link linkLabel='Liste des élèves' icon='bi bi-people-fill' href="{{ route('student.list') }}"
    :active="request()->routeIs(['student.list'])" />
<x-navigation.nav-link linkLabel='Liste des payments' icon='bi bi-people-fill' href="{{ route('payment.rappport') }}"
    :active="request()->routeIs(['payment.rappport'])" />
<x-navigation.dropdown-link wire:ignore.self label='Configuration' icon='bi bi-gear-fill' class="text-white">
    <x-navigation.nav-link linkLabel='Section' icon='bi bi-diagram-2' href="{{ route('school.section') }}"
        :active="request()->routeIs(['school.section'])" />
    <x-navigation.nav-link linkLabel='Option' icon='bi bi-columns-gap' href="{{ route('school.option') }}"
        :active="request()->routeIs(['school.option'])" />
    <x-navigation.nav-link linkLabel='Classe' icon='bi bi-houses-fill' href="{{ route('school.class-room') }}"
        :active="request()->routeIs(['school.class-room'])" />
</x-navigation.dropdown-link>
<x-navigation.dropdown-link wire:ignore.self label='Administration' icon='bi bi-person-gear' class="text-white">
    <x-navigation.nav-link linkLabel='Gestion des utilisateurs' icon='bi bi-person-video2'
        href="{{ route('admin.main') }}" :active="request()->routeIs(['admin.main'])" />
    <x-navigation.nav-link linkLabel='Gestion des roles' icon='bi bi-fingerprint' href="{{ route('admin.role') }}"
        :active="request()->routeIs(['admin.role'])" />
</x-navigation.dropdown-link>
@endcan
@can('view-school-unaccess')
<x-navigation.dropdown-link wire:ignore.self label='Administration' icon='bi bi-person-gear' class="text-white">

    <x-navigation.nav-link linkLabel='Gestion des roles' icon='bi bi-fingerprint' href="{{ route('admin.role') }}"
        :active="request()->routeIs(['admin.role'])" />
    <x-navigation.nav-link linkLabel='Gestionnaire écoles' icon='bi bi-house-gear-fill'
        href="{{ route('admin.schools') }}" :active="request()->routeIs(['admin.schools'])" />

</x-navigation.dropdown-link>
@endcan
<x-navigation.dropdown-link wire:ignore.self label='Administration' icon='bi bi-person-gear' class="text-white">
    <x-navigation.nav-link linkLabel='Gestion des utilisateurs' icon='bi bi-person-video2'
        href="{{ route('admin.main') }}" :active="request()->routeIs(['admin.main'])" />
    <x-navigation.nav-link linkLabel='Gestion des roles' icon='bi bi-fingerprint' href="{{ route('admin.role') }}"
        :active="request()->routeIs(['admin.role'])" />
</x-navigation.dropdown-link>
<x-navigation.dropdown-link wire:ignore.self label='Navigation' icon='"i bi-link-45deg' class="text-white ">
    <x-navigation.nav-link linkLabel='Simple menu' icon='bi bi-link' href="{{ route('navigation.single') }}"
        :active="request()->routeIs(['navigation.single'])" />
    <x-navigation.nav-link linkLabel='Multi menu' icon='bi bi-link' href="{{ route('navigation.multi') }}"
        :active="request()->routeIs(['navigation.multi'])" />
    <x-navigation.nav-link linkLabel='Sous-menu' icon='bi bi-link' href="{{ route('navigation.sub') }}"
        :active="request()->routeIs(['navigation.sub'])" />
</x-navigation.dropdown-link>